


div#content div{
	display: inline-block;
	width: 49%;
	position: relative;
  top: 5px;
}

div#content div.leftbox{
	vertical-align: top;
}

div#content div h1, p, img, iframe{
	margin: 10px;
}

div#content div.rightbox{
	vertical-align: top;
}

div#content div.annonce{
	width: 100%;
	margin: 8px;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: #6075A7;
	padding: 20px;
	text-decoration: none;
	border-radius: 15%;
}

nav.menu-nav ul li.btn{
	display: inline-block;
	width: 10%;
	list-style-type: none;
	position: relative;
	bottom: 40px;
	left: 300px;
}

nav.menu-nav ul li.btn:hover a{
	color: white;
	background-color: #484947;
	transition: 0.8s all;
}

div.annonce img{
	border-radius: 5%;
}

header{
  background: #455886;
  position: relative;
  right: 50px;
  width: 2025px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin: -10px -10px;
}

logo.name{
  position: relative;
	bottom: 80px;
	left: 300px;
}

footer{
	font-size: 30px;
	background-color: #455886;
	position: relative;
	top: 400px;
	width: 2425px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin: -10px -10px;
  padding-bottom: 150px;
}

body{
	background-color: #6E82B0;
}

/*p.intro{
	color: #24FEE7;
	font-weight: bold;
}
p.start{
	color: #F7C10A;
	font-weight: bold;
}
body{
	background-color: #B4ABAB;
}
h1.headline{
	font-size: 50px;
	padding-left: 430px;
}*/
